<app-selected-hero-details [selectedHeroInComponent]="selectedHero"></app-selected-hero-details>

<label for="search-box">Hero Search</label>
<input #searchBox id="search-box" (input)="search(searchBox.value)" />


<ul class="heroes">
  <div *ngFor="let heroInForeach of thisHeroesArray">
    <button [class.selected]="heroInForeach === selectedHero" type="button"
      (click)="onSelect(heroInForeach)">{{heroInForeach.id}}</button>
    {{heroInForeach.name}} <span class="badge" *ngIf="heroInForeach.power">POWER:
      {{heroInForeach.power}}</span>
  </div>
</ul>